#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    min-height: 100vh;
    padding: 0 2rem;
    background-color: rgb(252, 251, 255);
    color: rgb(8, 5, 184);
    border-radius: .5rem;
    border-style: double;
}

#home .action {
    color:rgb(85, 5, 189)
}
